In [ ]:
import pyodbc 
import pandas as pd 
import sqlalchemy as sa 

db_url = 'mssql+pyodbc://Mavlonjon/L18?driver=SQL+Server'
engine = sa.create_engine(db_url) 
connection = engine.connect() 
df = pd.read_csv('tackoverflow_qa.csv')
df.head()

 Homework 2

In [ ]:
#Q1 Answer
qs = df['creationdate'] < '2014-01-01' #filtering according to the specific requirement 
df[qs]

In [ ]:
#Q2 Answer 
qs = df['score'] > 50 #all questions which have 50+ score 
df[qs]

In [ ]:
#Q3 Answer 
qs = df['score'].between(50, 100) #all questions which have score between 50 and 100  
df[qs]

In [ ]:
#Q4 Answer 
qs = df['ans_name'] == 'Scott Boston' #Questions answered by Scott Boston only 
df[qs]

In [ ]:
#Q5 Answer 
names = ['BrenBarn', 'Ngure Nyaga', 'Andy Hayden', 'unutbu', 'HYRY'] #Answered only by 5 students 
queryfor = "ans_name in @names"
df.query(queryfor)

In [ ]:
#Q6 Answer 
cr_time = df['creationdate'].between('2014-03-01', '2014-10-31') #created between March 2014 and October 2014 
cr_name = df['ans_name'] == 'unutbu' #answered by unutbu only 
cr_score = df['score'] < 5 #having score less than 5 

cr_final = cr_time & cr_name & cr_score 
df[cr_final]

In [ ]:
#Q7 Answer 
cr_score = df['score'].between(5, 10) #having score between 5 and 10 
cr_view = df['viewcount'] > 10000 #having more than 10000 views 

cr_final = cr_score | cr_view 
df[cr_final]

In [ ]:
#Q8 Answer 
questions = df['ans_name'] != 'Scott Boston' #all questions not answered by Scott Boston
df[questions]

Homework 3

In [ ]:
titanic_df = pd.read_csv('titanic.csv')
titanic_df.head()

In [ ]:
#Q1 Answer 
cr_gen = titanic_df['Sex'] == 'female' #only females 
cr_class = titanic_df['Pclass'] == 1 #only passengers of Class 1 
cr_age = titanic_df['Age'].between(20, 30) #passengers with age between 20 and 30 

cr_final = cr_gen & cr_class & cr_age
titanic_df[cr_final]

In [ ]:
#Q2 Answer 
greater_fare = titanic_df['Fare'] > 100 #passengers who paid more than $100 for fare 
titanic_df[greater_fare]

In [ ]:
#Q3 Answer 
passenger = titanic_df['Survived'] == 1 #survived passengers 
sibling_spouse = titanic_df['SibSp'] == 0 #passengers with no siblings or spouse 
parent_child = titanic_df['Parch'] == 0 #passengers with no parent or child

pass_final = passenger & sibling_spouse & parent_child 
titanic_df[pass_final]

In [ ]:
#Q4 Answer 
cr_embarked = titanic_df['Embarked'] == 'C' #passengers embarked from C port  
cr_paid = titanic_df['Fare'] > 50 #passengers who paid more than $50 fare 

cr_final = cr_embarked & cr_paid 
titanic_df[cr_final]

In [ ]:
#Q5 Answer 
parent_child = titanic_df['Parch'] != 0 #passengers with parent or child abroad 
sibling_spouse = titanic_df['SibSp'] != 0 #passengers with siblings or spouse abroad 

pass_final = parent_child & sibling_spouse 
titanic_df[pass_final]

In [ ]:
#Q6 Answer 
passenger = titanic_df['Age'] <= 15 #passengers at age 15 or below  
survival = titanic_df['Survived'] == 0 #passengers survived 

pass_final = passenger & survival 
titanic_df[pass_final]

In [ ]:
#Q7 Answer 
cabin = titanic_df['Cabin'].notna() #passengers who had exact cabins 
fare = titanic_df['Fare'] > 200 #passengers paid more than $200 for fare 

final = cabin & fare 
titanic_df[final]

In [ ]:
#Q8 Answer 
pass_id = titanic_df['PassengerId'] % 2 != 0 #passengers with odd PassengerIds 
titanic_df[pass_id]

In [ ]:
#Q9 Answer 
ticket_count = titanic_df['Ticket'].value_counts() #passengers with unique ticket numbers  
u_ticket = ticket_count[ticket_count == 1].index 

titanic_df[titanic_df['Ticket'].isin(u_ticket)]

In [ ]:
#Q10 Answer 
passenger_class = titanic_df['Pclass'] == 1 #passengers on Class 1 
passenger_gender = titanic_df['Sex'] == 'female' #female passengers
passenger_name = titanic_df['Name'].str.contains('Miss') #passengers with 'Miss' in their name 

passenger_final = passenger_class & passenger_gender & passenger_name 
titanic_df[passenger_final]