In [1]:
#list of elements 
f = ['apple', 'peach', 'dates', 'cherry', 'raspberry']
print(f[2])

dates

In [3]:
#concatenate lists 
l1 = [12, 45, 964, 123, 44, 86]
l2 = [58, 62, 42, 361, 1, 32]
l1.extend(l2)
print(l1)

[12, 45, 964, 123, 44, 86, 58, 62, 42, 361, 1, 32]

In [4]:
#store first, middle, last elements of the list in new list 

num = [12, 36, 25, 48, 96, 58]
if len(num)%2 != 0:
    new_num = [num[0], num[len(num)//2], num[::-1][0]]
else:
    new_num = [num[0], num[len(num)//2-1], num[len(num)//2], num[::-1][0]] 
print(new_num)

[12, 25, 48, 58]

In [6]:
#from list to tuple 
movies = ['Avatar', 'Titanic', 'Interstellar', 'The Count of Monte Cristo', 'Nezha']
print(type(movies))
t = tuple(movies)
print(type(t))
print(t)

<class 'list'>
<class 'tuple'>
('Avatar', 'Titanic', 'Interstellar', 'The Count of Monte Cristo', 'Nezha')

In [7]:
#check whether city is in the list 
cities = ['Tashkent', 'London', 'Washington', 'Leeds', 'Edinburgh']
if 'Paris' in cities:
    print('Yes, it is in the list')
else:
    print('It is not in the given list')

It is not in the given list

In [8]:
#duplicate without loops 
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
new_numbers = numbers.copy()
numbers.extend(new_numbers)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
#swap the first and the last elements
numb = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
numb[0], numb[-1] = numb[-1], numb[0]
print(numb)

[9, 2, 3, 4, 5, 6, 7, 8, 1]

In [10]:
#slice a tuple 
tnum = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(type(tnum))
tnum[3:7]

<class 'tuple'>

(4, 5, 6, 7)

In [15]:
#count blue 
colors = ["Blue", "Red", "Green", "Yellow", "Orange", "Purple", "Pink", "Brown", "Black", "White", "Gray", "Blue", "Red", "Green", "Yellow"] 
colors.count('Blue')

2

In [16]:
#next index in a tuple 
animals = ("Tiger", "Bear", "Wolf", "Fox", "Elephant", "Giraffe", "Zebra", "Lion", "Tiger", "Deer", "Rabbit", "Fox", "Eagle", "Owl") 
animals.index('Lion')

7

In [17]:
#merging two tuples 
n1 = (1, 2, 3, 4, 5, 6, 7 ,8, 9)
n2 = (11, 12, 13, 14, 15, 16, 17, 18, 19)
n3 = n1 + n2
print(n3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [ ]:
#length of tuple and list 
tup = (12, 2, 3, 4, 5, 6, 7 ,8, 9)
lis = [21, 2, 3, 4, 5, 6, 7 ,8, 9]

print(len(tup))
print(len(lis))

9
9

In [18]:
#from tuple to list 
tupl = (25, 2, 2005, 9, 15)
print(type(tupl))
l = list(tupl)
print(type(l))

<class 'tuple'>
<class 'list'>

In [19]:
#max and min in a tuple 
tupl = (25, 2, 2005, 9, 15) 
print(f'Max value: {max(tupl)} \nMin vlaue: {min(tupl)}')

Max value: 2005
Min vlaue: 2

In [21]:
#reverse tuple 
w = ("Galaxy", "Asteroid", "Nebula", "Rocket", "Orbit", "Comet", "Star", "Planet", "Cosmos", "Blackhole") 
print(w[::-1])

('Blackhole', 'Cosmos', 'Planet', 'Star', 'Comet', 'Orbit', 'Rocket', 'Nebula', 'Asteroid', 'Galaxy')