In [1]:
#Q1 Roster table 
import sqlite3

with sqlite3.connect('hometask15.db') as connection:
    cursor = connection.cursor()
    query = [
        "create table if not exists Roster(Name text, Species text, Age int)",
        "select * from Roster"
    ]
    for i in query:
        cursor.execute(i)
        if i.startswith("select"):
            results = cursor.fetchall()
            print(results)

[('Benjamin Sisko', 'Human', 40), ('Ezri Dax', 'Trill', 300), ('Kira Nerys', 'Bajoran', 29)]

In [4]:
#Q2 Populating a new table 

import sqlite3
with sqlite3.connect('hometask15.db') as connection:
    cursor = connection.cursor()
    query = [
        "insert into Roster(Name, Species, Age) values ('Benjamin Sisko', 'Human', 40)",
        "insert into Roster(Name, Species, Age) values ('Jadzia Dax', 'Trill', 300)",
        "insert into Roster(Name, Species, Age) values ('Kira Nerys', 'Bajoran', 29)",
        "select * from Roster"
    ]
    for i in query:
        cursor.execute(i)
        if i.startswith('select'):
            results = cursor.fetchall()
            print(results)

[('Benjamin Sisko', 'Human', 40), ('Jadzia Dax', 'Trill', 300), ('Kira Nerys', 'Bajoran', 29)]

In [5]:
#Q3 Updating name 
import sqlite3
with sqlite3.connect('hometask15.db') as connection:
    cursor = connection.cursor()
    query = [
        "update Roster set Name = 'Ezri Dax' where Name = 'Jadzia Dax'", 
        "select * from Roster"
    ]
    for i in query:
        cursor.execute(i) 
        if i.startswith('select'):
            results = cursor.fetchall()
            print(results)

[('Benjamin Sisko', 'Human', 40), ('Ezri Dax', 'Trill', 300), ('Kira Nerys', 'Bajoran', 29)]

In [2]:
#Q4 Displaying ages and names of Bajorans 
import sqlite3 
with sqlite3.connect('hometask15.db') as connection:
    cursor = connection.cursor()
    query = [
        "select Name, Age from Roster where Species = 'Bajoran'"
    ]
    for i in query:
        cursor.execute(i)
        results = cursor.fetchall()
        print(results)

[('Kira Nerys', 29)]