## Homework 1

In [124]:
#Q1 Updating column names 
import pandas as pd 
data = {'First Name': ['Alice', 'Bob', 'Charlie', 'David'], 
        'Age': [25, 30, 35, 40], 
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']} 
df = pd.DataFrame(data)

df = df.rename(columns={'First Name':'first name', 'Age':'age'}) #updating column names 
print(df)

  first name  age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
3      David   40        Chicago

In [125]:
#Q2 First three rows 
first_three_rows = df.head(3)
print(first_three_rows)

  first name  age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles

In [126]:
#Q3 Mean age of individuals 
mean_age = df['age'].mean()
print(mean_age)

32.5

In [127]:
#Q4 Selected columns 
name_and_city = df[['first name', 'City']]
print(name_and_city)

  first name           City
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago

In [128]:
#Q5 New column
import numpy as np
import pandas as pd 

df['Salary'] = np.random.randint(20000, 70000, 4)
print(df)

  first name  age           City  Salary
0      Alice   25       New York   25490
1        Bob   30  San Francisco   41043
2    Charlie   35    Los Angeles   25011
3      David   40        Chicago   38405

In [ ]:
#Q6 Summary statistics of dataframe 
print(df['age'].describe())  #statistics about age column

print(df['first name'].describe())  #statistics about name column 

print(df['Salary'].describe())  #statistics about salary column 

print(df.describe())  #statistics of dataframe

## Homework 2

In [152]:
#Q1
data = {
    'Month' : ['Jan', 'Feb', 'Mar', 'Apr'],
    'Sales' : [5000, 6000, 7500, 8000], 
    'Expenses' : [3000, 3500, 4000, 4500]
}

sales_and_expenses = pd.DataFrame(data)
print(sales_and_expenses)

  Month  Sales  Expenses
0   Jan   5000      3000
1   Feb   6000      3500
2   Mar   7500      4000
3   Apr   8000      4500

In [153]:
#Q2 
max_sales = sales_and_expenses['Sales'].max()
print(f'Max sales: {max_sales}')

max_expenses = sales_and_expenses['Expenses'].max()
print(f'Max expenses: {max_expenses}')

Max sales: 8000
Max expenses: 4500

In [154]:
#Q3 
min_sales = sales_and_expenses['Sales'].min()
print(f'Min sales: {min_sales}')

min_expenses = sales_and_expenses['Expenses'].min()
print(f'Min expenses: {min_expenses}')

Min sales: 5000
Min expenses: 3000

In [155]:
#Q4 
avg_sales = sales_and_expenses['Sales'].mean()
print(f'Average sales: {avg_sales}')

avg_expenses = sales_and_expenses['Expenses'].mean()
print(f'Average expenses: {avg_expenses}')

Average sales: 6625.0
Average expenses: 3750.0

## Homework 3

In [ ]:
#Q1
data = {
    'Category' : ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January' : [1200, 200, 300, 150], 
    'February' : [1300, 220, 320, 160],
    'March' : [1400, 240, 330, 170], 
    'April' : [1500, 250, 350, 180]
} 

expenses = pd.DataFrame(data)
print(expenses)

        Category  January  February  March  April
0           Rent     1200      1300   1400   1500
1      Utilities      200       220    240    250
2      Groceries      300       320    330    350
3  Entertainment      150       160    170    180

In [ ]:
#Q2 
expenses['Maximum Expense'] = expenses[['January', 'February', 'March', 'April']].max(axis=1) #looks at each category to find max value 

result = expenses[['Category', 'Maximum Expense']]
print(result)

        Category  Maximum Expense
0           Rent             1500
1      Utilities              250
2      Groceries              350
3  Entertainment              180

In [ ]:
#Q2 
result = expenses.set_index('Category').max(axis=1).reset_index(name='Maximum Expense')

print(result)

        Category  Maximum Expense
0           Rent           1500.0
1      Utilities            250.0
2      Groceries            350.0
3  Entertainment            180.0

In [ ]:
#Q3 
expenses['Minimum Expense'] = expenses[['January', 'February', 'March', 'April']].min(axis=1) #looks at each category to find min value 

result = expenses[['Category', 'Minimum Expense']]
print(result)

        Category  Minimum Expense
0           Rent             1200
1      Utilities              200
2      Groceries              300
3  Entertainment              150

In [169]:
#Q3 
result = expenses.set_index('Category').min(axis=1).reset_index(name='Minimum Expense')

print(result)

        Category  Minimum Expense
0           Rent           1200.0
1      Utilities            200.0
2      Groceries            300.0
3  Entertainment            150.0

In [163]:
#Q4 
expenses['Average Expense'] = expenses[['January', 'February', 'March', 'April']].mean(axis=1) #looks at each category to find mean value 

result = expenses[['Category', 'Average Expense']]
print(result)

        Category  Average Expense
0           Rent           1350.0
1      Utilities            227.5
2      Groceries            325.0
3  Entertainment            165.0

In [170]:
#Q4 
result = expenses.set_index('Category').mean(axis=1).reset_index(name='Average Expense')

print(result)

        Category  Average Expense
0           Rent      1350.000000
1      Utilities       226.785714
2      Groceries       325.000000
3  Entertainment       165.000000