## Dataframe 1

In [26]:
#Q1 
import pandas as pd

# Creating the DataFrame
data = {
    'Student_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Math': [85, 90, 78, 92, 88, 95, 89, 79, 83, 91],
    'English': [78, 85, 88, 80, 92, 87, 90, 84, 79, 88],
    'Science': [90, 92, 85, 88, 94, 79, 83, 91, 87, 89]
}
df1 = pd.DataFrame(data)

# Calculating the average grade for each student
df1['Average'] = df1[['Math', 'English', 'Science']].mean(axis=1)

# Displaying the DataFrame with the new average column
print("DataFrame with Average Grades:")
print(df1)

DataFrame with Average Grades:
   Student_ID  Math  English  Science    Average
0           1    85       78       90  84.333333
1           2    90       85       92  89.000000
2           3    78       88       85  83.666667
3           4    92       80       88  86.666667
4           5    88       92       94  91.333333
5           6    95       87       79  87.000000
6           7    89       90       83  87.333333
7           8    79       84       91  84.666667
8           9    83       79       87  83.000000
9          10    91       88       89  89.333333

In [27]:
#Q2 

# Calculate the average grade for each student
df1['Average'] = df1[['Math', 'English', 'Science']].mean(axis=1)

# Find the student with the highest average
highest_avg_student = df1.loc[df1['Average'].idxmax()]

# Display the result
print("Student with the Highest Average Grade:")
print(highest_avg_student)

Student with the Highest Average Grade:
Student_ID     5.000000
Math          88.000000
English       92.000000
Science       94.000000
Average       91.333333
Name: 4, dtype: float64

In [24]:
#Q3 

# Calculate the total marks for each student
df1['Total'] = df1[['Math', 'English', 'Science']].sum(axis=1)

# Display the DataFrame with the new total column
print("DataFrame with Total Marks:")
print(df1)

DataFrame with Total Marks:
   Student_ID  Math  English  Science  Total
0           1    85       78       90    253
1           2    90       85       92    267
2           3    78       88       85    251
3           4    92       80       88    260
4           5    88       92       94    274
5           6    95       87       79    261
6           7    89       90       83    262
7           8    79       84       91    254
8           9    83       79       87    249
9          10    91       88       89    268

In [ ]:
#Q4 
import pandas as pd
import matplotlib.pyplot as plt

subject_averages = df1[['Math', 'English', 'Science']].mean()

# Plot a bar chart
subject_averages.plot(kind='bar', color=['blue', 'green', 'red'])
plt.title('Average Grades in Each Subject')
plt.xlabel('Subject')
plt.ylabel('Average Grade')
plt.show()

## Dataframe 2

In [ ]:
#Q1 
import pandas as pd

# Create the DataFrame
data = {
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Product_A': [120, 150, 130, 110, 140, 160, 135, 125, 145, 155],
    'Product_B': [90, 116, 100, 80, 95, 105, 88, 88, 102, 112],
    'Product_C': [75, 80, 85, 70, 88, 92, 78, 82, 87, 90]
}
df2 = pd.DataFrame(data)

# Calculate total sales for each product
total_sales = df2[['Product_A', 'Product_B', 'Product_C']].sum()

# Display the result
print("Total Sales for Each Product:")
print(total_sales)

In [ ]:
#Q2 

# Calculate total sales per day
df2['Total_Sales'] = df2[['Product_A', 'Product_B', 'Product_C']].sum(axis=1)

# Find the date with the highest total sales
highest_sales_date = df2.loc[df2['Total_Sales'].idxmax()]

# Display the result
print("Date with the Highest Total Sales:")
print(highest_sales_date)

In [ ]:
#Q3 

# Calculate percentage change for each product
df2['Product_A_Pct_Change'] = df2['Product_A'].pct_change() * 100
df2['Product_B_Pct_Change'] = df2['Product_B'].pct_change() * 100
df2['Product_C_Pct_Change'] = df2['Product_C'].pct_change() * 100

# Display the DataFrame with percentage changes
print("DataFrame with Percentage Change in Sales:")
print(df2)

In [ ]:
#Q4 

plt.plot(df2['Date'], df2['Product_A'], label='Product A', marker='o')
plt.plot(df2['Date'], df2['Product_B'], label='Product B', marker='o')
plt.plot(df2['Date'], df2['Product_C'], label='Product C', marker='o')

# Add titles and labels
plt.title('Sales Trends for Each Product Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.legend()
plt.grid(True)
plt.xticks(rotation=45)
plt.tight_layout()

# Display the plot
plt.show()

## Dataframe 3

In [ ]:
#Q1 
import pandas as pd

# Create the DataFrame
data3 = {
    'Employee_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hank', 'Ivy', 'Jack'],
    'Department': ['HR', 'IT', 'Marketing', 'IT', 'Finance', 'HR', 'Marketing', 'IT', 'Finance', 'Marketing'],
    'Salary': [60000, 75000, 65000, 80000, 70000, 68000, 78000, 69000, 76000, 72000],
    'Experience (Years)': [3, 5, 2, 8, 4, 6, 3, 7, 2, 5]
}
df3 = pd.DataFrame(data3)

# Calculate average salary for each department
avg_salary_by_dept = df3.groupby('Department')['Salary'].mean()

# Display the result
print("Average Salary for Each Department:")
print(avg_salary_by_dept)

In [ ]:
#Q2 
most_experienced = df3.loc[df3['Experience (Years)'].idxmax()]

# Display the result
print("Employee with the Most Experience:")
print(most_experienced)

In [ ]:
#Q3 
min_salary = df3['Salary'].min()

# Create a new column for percentage increase from minimum salary
df3['Salary Increase'] = ((df3['Salary'] - min_salary) / min_salary) * 100

# Display the DataFrame with the new column
print("DataFrame with Salary Increase:")
print(df3)

In [ ]:
#Q4 
dept_distribution = df3['Department'].value_counts()

# Plot a bar chart
dept_distribution.plot(kind='bar', color='skyblue')
plt.title('Distribution of Employees Across Departments')
plt.xlabel('Department')
plt.ylabel('Number of Employees')
plt.xticks(rotation=45)
plt.show()

## Dataframe 4

In [ ]:
#Q1 
import pandas as pd

# Create the DataFrame
data4 = {
    'Order_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Customer_ID': [201, 202, 203, 204, 205, 206, 207, 208, 209, 210],
    'Product': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B', 'A', 'C'],
    'Quantity': [2, 3, 1, 4, 2, 3, 2, 5, 1, 3],
    'Total_Price': [120, 180, 60, 240, 166, 270, 140, 300, 90, 180]
}
df4 = pd.DataFrame(data4)

# Calculate total revenue
total_revenue = df4['Total_Price'].sum()

# Display the result
print("Total Revenue from All Orders:")
print(f"${total_revenue}")

In [ ]:
#Q2
most_ordered = df4['Product'].value_counts().idxmax()

# Display the result
print("Most Ordered Product:")
print(most_ordered)

In [ ]:
#Q3
avg_quantity = df4['Quantity'].mean()

# Display the result
print("Average Quantity of Products Ordered:")
print(f"{avg_quantity:.2f}")

In [ ]:
#Q4 
sales_by_product = df4.groupby('Product')['Total_Price'].sum()

# Plot a pie chart
sales_by_product.plot(kind='pie', autopct='%1.1f%%', startangle=90)
plt.title('Distribution of Sales Across Different Products')
plt.ylabel('')  # Hide y-label
plt.show()